<!DOCTYPE html>
<html>
<head>
  <title>Vote for your favorite books! Best Books Ever.</title>
  <%= stylesheet_link_tag "/stylesheets/main.css" %>
  <%= javascript_include_tag 'jquery-1.7.1.min.js', 'jquery-ui-1.8.17.custom.min.js', 'autocomplete-rails.js',
                             'rails.js', 'application.js'  %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.17.custom.css' %>
</head>
<body>
<div id="header">
  <h1>Best Books <span style="color: rgb(107, 177, 47);">EVER</span></h1>
</div>
<div class="container">
  <%= yield %>
</div>

<div id="footer">
  <%= link_to 'About', 'http://www.okendoken.com/2012/01/best-books-ever.html'%>
</div>
</body>
</html>
